.share-Attention {margin-top: 372px;
    background: #444;
    height: 70px;
    margin-bottom: 46px;}
.share-Attention-h6 {margin-top: 0px;margin-right: -352px;background: #21a580;float: right;line-height: 70px;padding: 0px 49px 0px 11px;color: #FFF;font-size: 18px;}

	.share-Attention-h1 {margin-top: -50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 25px;
		
	}
