.share-Attention {margin-top: 300px;   background: #444;height: 70px;margin-bottom: 20px;}
.share-Attention-h6 {margin-top: 0px;margin-right: -352px;background: #21a580;float: right;line-height: 70px;padding: 0px 49px 0px 11px;color: #FFF;font-size: 18px;}
.fa {   display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 36px;
    text-rendering: auto;
    margin-right: -346px;
    color: #fff;
    margin-top: 13px;
    -webkit-font-smoothing: antialiased}
	.share-Attention-h1 {line-height: 70px;
    padding: 0 100px;
    color: #fff;
    font-size: 15px;
    float: right;
    width: 100%;
    margin-right: 55px;
    margin-top: -111px;}
